# update this file with the correct owners:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# example:
    *         @Aakarsh211 @Esa112233 @AK630M @rlawndms @Sddala
